@import "tailwindcss";

@layer utilities {
     .text-stroke {
     -webkit-text-stroke: 1.2px #000;
}

     @keyframes anim {
     0% {
          transform: translateX(0%);
     } 
     100% {
          transform: translateX(-100%);
     }    
}

     .animate-slide {
     animation: anim 15s linear infinite;
}
/* Custom Line-Height */
.leading-custom {
     line-height: 1.5; /* Adjust as needed */
}
}
